* {
    border: 0px;
    padding: 0px;

}

h1 {
    font-family: 'Poppins', sans-serif;  
}

p {
    font-family: 'Poppins', sans-serif;  

}

li {
    font-family: 'Poppins', sans-serif;  
    list-style-type: circle;
    line-height: 0.5;
}
