* {
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    font-size: 22px

}

/* HEADER */
header {
    position: fixed;
    width: 100%;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

nav {
    background-color: black;
    float: right;
    margin-right: 10px;
}

nav li {
    display: inline;
    margin: 0 10px;
    text-decoration: underline;
    font-weight: bold;
}
