* {
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    font-size: 22px;
}


/* HEADER */


#logo {
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    
}

.wrapper {
    width: 100%;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

nav {
    background-color: black;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
    height: 69px;
}

nav li {
    display: inline;
    margin: 0 10px;
    text-decoration: underline;
    font-weight: bold;
}


/* LOGO AND SPLASH */


.logo-top img {
    z-index: 0;
    position: relative;
}

#background {

    width: 1200px;
    height: 700px;
    margin: 0px auto;
    overflow: hidden;
}

#mission {
    top: 380px;
    position: absolute;
    z-index: 20;
    width: 1200px;
    background-color: black;
    opacity: 100;
}

h2, h4 {
    text-align: center;
    opacity: 0.9;
    font-weight: bold;
}

/* FLEXBOX SECTION */

.textbox {
    width: 1000px;
    margin: 0 auto;
}

/* flexbox*/

.flexcontainer {
    align-content: center;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.innerbox {
    margin: 15px;
}

.innerbox img {
    width: 300px;
    height: 200px;
}



