* {
    border: 0px;
    padding: 0px;
}

h1 {
    text-decoration: underline;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;  

}

p {
    font-family: 'Poppins', sans-serif;
    color: red;
}

.header p {
    font-size: 8pt;
}

.header {
    background-color: white;
}

.colors {
    background-color: #9AEEE0;
    height: 275px;
}

.font {
    background-color: #9AD3EE;
    height: 275px;
}

.text-styles {
    background-color: #9AEEB6;
    height: 275px;
}


#color1 {
    background-color: #BC9E43;
}

#color2 {
    background-color: #43BC61;
}

#color3 {
    background-color: #4361BC;
}

#color4 {
    background-color: #BC439E;
}

