/* GENERAL */

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 5px 5px;
    
  
}

h2 {
    text-decoration: underline;
}

li {
    margin-left: 15px;
}


header {

    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}


.user-input {
    min-width: 350px;
    max-width: 400px;
    background-color: lightgray;
    color: midnightblue;
}

textarea {
    resize: none;
    max-width: 320px;
}

.list {
    min-width: 350px;
    max-width: 600px;
    background-color: midnightblue;
    color: lightgray;
}

footer {

    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 480px) {

    .wrapper {
        flex-wrap: wrap;
    }

    .list {
        width: 380px;
    }

    .user-input {
        width: 380px;
    }
}
