/* GENERAL */

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 5px 5px;
    
  
}

h2 {
    text-decoration: underline;
}

ol {
    margin-left: 10px;
}

li {
    margin-left: 10px;
}



header {

    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.user-input {
    min-height: 380px;
    min-width: 350px;
    max-width: 400px;
    background-color: lightgray;
    color: midnightblue;
    border-radius: 15px 0 0 15px;
}

textarea {
    resize: none;
    max-width: 320px;
}

#note {
    font-style: italic;
    color: red;
    font-size: 0.8em;
    margin: 5px 0;
    display: none;
}

.list {
    min-height: 380px;
    min-width: 350px;
    max-width: 600px;
    background-color: midnightblue;
    color: lightgray;
    border-radius: 0 15px 15px 0;
}

.list p {
    width: 100%;
    overflow: hidden;
}

footer {

    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 480px) {

    .wrapper {
        flex-wrap: wrap;
    }

    .user-input {
        width: 380px;
        border-radius: 15px 15px 0 0;
    }

    .list {
        width: 380px;
        border-radius: 0 0 15px 15px;
    }

}

